@model Escola.Models.ProfessorDisciplina

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="form-horizontal">
    <h4>ProfessorDisciplina</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            <label class="control-label col-md-2">Professor</label>
            <div class="col-md-10">
                @Html.DropDownListFor(
               model => model.Professor.Id,
               new SelectList(ViewBag.ListaProfessores, "Id", "Pessoa.Nome"),
               new { @class = "form-control", @disabled = "disabled" })

                @Html.ValidationMessageFor(model => model.Professor.Id, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Disciplina</label>
            <div class="col-md-10">
                @Html.DropDownListFor(
               model => model.Disciplina.Id,
               new SelectList(ViewBag.ListaDisciplinas, "Id", "Nome"),
               new { @class = "form-control", @disabled = "disabled" })

                @Html.ValidationMessageFor(model => model.Disciplina.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
