@model Escola.Models.ProfessorDisciplina

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ProfessorDisciplina</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <label class="control-label col-md-2">Professor</label>
        <div class="col-md-10">
            @Html.DropDownListFor(
           model => model.Professor.Id,
           new SelectList(Model.ListaProfessores, "Id", "Pessoa.Nome"),
           new { @class = "form-control", @style = "pointer-events:none" })
            @Html.ValidationMessageFor(model => model.Professor.Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Disciplina</label>
        <div class="col-md-10">
            @Html.DropDownListFor(
           model => model.Disciplina.Id,
           new SelectList(Model.ListaDisciplinas, "Id", "Nome"),
           new { @class = "form-control", @style = "pointer-events:none" })
            @Html.ValidationMessageFor(model => model.Disciplina.Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Ativo</label>
        <div class="col-md-10">
            Sim
            @Html.RadioButtonFor(model => model.Ativo, "1", new { @class = "form-check-input" })
            @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
            Não
            @Html.RadioButtonFor(model => model.Ativo, "0", new { @class = "form-check-input" })
            @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar para a vida", "Index")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
