@model IEnumerable<Escola.Models.Boletim>

@{
    ViewBag.Title = "Boletim";
}

<h2>Boletim</h2>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Aluno
        </th>
        <th>
            ProfessorDisciplina
        </th>
        <th>
            Bimestre
        </th>
        <th>
            Ano
        </th>
        <th>
            Nota
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Aluno.Pessoa.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProfessorDisciplina.Professor.Pessoa.Nome) -
        @Html.DisplayFor(modelItem => item.ProfessorDisciplina.Disciplina.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bimestre.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ano)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nota)
    </td>
</tr>
    }

</table>